button{
    width: 100%;
    border-width: 0;
    height: 40px;   
    background-color: white;
    cursor: pointer;
    border-bottom: .1px solid rgb(241, 240, 240);
    font-weight: 600;
    color: rgb(56, 55, 55);  
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container {
   display: block;
   
}

