.attendence-item1{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: auto;
    min-height: 80vh;
    padding: 10px 20px 20px 10px ;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
}

.attendence-header{
    height: 3vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem;
    box-sizing: border-box;
}

.attendence-secondary-header{
        height: 3vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem;
}


.attendence-header input{
    border-radius: 1rem;
    padding: .4rem;
    padding-left: 1.4rem;
}

.employee-data{
    width: 40%;
    float: left;
    padding-left: 2rem;
    margin-bottom: .6rem;
}

.employee-data p{
    color: rgb(104, 104, 104);
    font-size: 14px;
    text-align: start;
}

.attendence-table::-webkit-scrollbar {
    width: 20px;
}

.calender-grid{
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto;
    width: 100%;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, auto);
}

.calender-grid-items{
    height: 3rem;
    width: 7rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}