*{
  margin: 0;
  padding: 0;
}

.container{
  background-color:#F0F4F7;
}

.body-container{
  display: flex;
  
}
.sidebar{
  margin-top: 10vh;
  width: 15vw;
  height: auto;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.body{
  margin-top: 10vh;
  width: 100%;
  margin-left: 15vw;
}

/* styling for forms */
 input, textarea, select{
  margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 16px;
    min-height: 1.2rem;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

button{
    width: 100%;
    border-width: 0;
    height: 40px;   
    background-color: white;
    cursor: pointer;
    /* border-bottom: .1px solid rgb(241, 240, 240); */
    font-weight: 500;
    color: rgb(95, 94, 94); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}




label {
  font-size: 17px;
}

input[type=submit] {
  color: #ffff;
  width: 5rem;
  font-size: 15px;
  font-weight: 600;
  background-color: #5861FD;
  border: none;
  float: right;
  height: 2.5rem;
  cursor: pointer;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.col{
  flex: 1;
}


table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 13px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table td {
  font-size: .9em;
}

@media screen and (max-width: 800px) {
  table th{
      font-size: .8em;
  }

  table td{
      font-size: .7;
  }
}

@media screen and (max-width: 490px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table th{
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .6em;
    text-align: center;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .7rem;
    text-align: center;
    cursor: pointer;
  }

  table td:hover{
    background-color: #e0e1fa;
  }
  
  table td::before {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 800px) {
  .col {
    flex: 100%;
  }
}