.pos-item1 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    min-height: 100vh;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
}

.pos-header {
    height: 3vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
}

.pos-header .pos-buttons button {
    color: #ffff;
    height: 2rem;
    width: 2rem;
    font-size: 15px;
    font-weight: 600;
    background-color: #5861FD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

.pos-body {
    padding: 0 2rem;
}

.pos-category {
    max-height: 15vh;
    min-width: 100%;
    width: 80%;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pos-category::-webkit-scrollbar {
    display: none;
}

.pos-category-cards {
    max-height: 5.5rem;
    max-width: 5.5rem;
    height: 5.5rem;
    width: 5.5rem;
    margin: 1.5rem;
    cursor: pointer;
    border-radius: .4rem;
    padding: .2rem;
    transition: .1s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: .2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pos-category-cards img {
    height: 2rem;
    width: 2rem;
    margin-bottom: .5rem;
}

.pos-category-cards .category-main-item {
    font-size: 9px;
    color: #545457;
    overflow: hidden;
}

.pos-category-cards .category-sub-item {
    font-size: 12px;
    color: #252525;
}

.pos-category-cards:hover {
    box-shadow: rgba(81, 127, 158, 0.35) 0px 5px 15px;
}


.pos-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #5861FD; */
    width: 100%;
    height: auto;
    overflow: scroll;
    gap: 1rem;
    padding: 2rem;
    box-sizing: border-box;
}

.pos-cards::-webkit-scrollbar {
    display: none;
}

.pos-cards-items {
    background-color: #fff;
    height: 35vh;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pos-cards-items img {
    height: 75%;
    width: 100%;
}

.pos-cards-details{
   padding-left: .5rem;
}

.pos-cards-details p:nth-child(1){
    font-size: 14px;
    color: rgb(141, 141, 141);
}
.pos-cards-details p:nth-child(2){
    font-size: 15px;
    color: rgb(19, 18, 18);
}

@media screen and (max-width: 1028px) {
    .pos-cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 850px) {
    .pos-cards{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 500px) {
    .pos-cards{
        display: grid;
        grid-template-columns: auto;
    }
}